<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WINGS BIKES | BICIS</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap" rel="stylesheet">


</head>
<body>
	<div class="contenedor-padreBicis">
	<header>
		<div class="headerHome">
		<div class="logoHeader">
			<a href="../index.html"><img src="../assets/img/logo.png" alt="logo" class="logo"></a>
		</div>
		<nav class="nav">
			<ul>
				<li><a href="../index.html">nosotros</a></li>
				<li><a href="#">bicis</a></li>
				<li><a href="#">accesorios</a></li>
				<li><a href="#">contacto</a></li>
			</ul>
		</nav>
		</div>
	</header>

	<main>
		<div class="mainBicis">
			<h2 class="modelos">MODELOS SPECIALIZED</h2>
			<img src="../assets/img/chisel.jpg" alt="chisel" class="chisel">
			<img src="../assets/img/chiselcomp.jpg" alt="chiselcomp" class="chiselComp">
			<img src="../assets/img/rockhopperelite.jpg" alt="rockelite" class="rockhopperElite">
			<img src="../assets/img/rockhopperexpert.jpg" alt="rockexpert" class="rockhopperExpert">
			<img src="../assets/img/allez.jpg" alt="allez" class="allez">
			<img src="../assets/img/tarmac.jpg" alt="tarmac" class="tarmac">
			<img src="../assets/img/epiccomp.jpg" alt="epiccomp" class="epicComp">
			<img src="../assets/img/epicexpert.jpg" alt="epicexpert" class="epicExpert">
		</div>

	</main>

	<footer>
		<div class="footerHome">
		<div class="redesFooter">
			<h3>SIGAMOS EN CONTACTO</h3>
			<a href="https://www.facebook.com/wingsbikes"><img src="../assets/img/facebook.png" alt="facebook" class="iconos"></a>
			<a href="https://www.instagram.com/wingsbikes/"><img src="../assets/img/instagram.png" alt="instagram" class="iconos"></a>
			<img src="../assets/img/whatsapp.png" alt="whatsapp" class="iconos">
		</div>
		<div class="fraseFooter">
			<h3>TIENDA AUTORIZADA SPECIALIZED</h3>
			<p>Juan B. Justo 464, San Nicolás de los Arroyos <br> Buenos Aires, Argentina <br> ventas@wingsbikes.com.ar</p>
		</div>
		</div>
	</footer>
	</div>
</body>
</html>